/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.github
.env
.env.local
.env.backup
.env.host
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.gitlab-ci.yml
/kiriminaja-academy-core
/public/academy-core
/academy-core
